.navbar__contianer {
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 30px;

  .navbar__contianer__img {
    width: 150px;
  }
  .navbar__contianer__img--two {
    width: 30px;
    height: 30px;
  }
}
